.github/**
.gitignore
.vscode/**
src/**
test/**
tsconfig.json
*.vsix
*.log
node_modules/@types/**
node_modules/typescript/lib/*.d.ts
node_modules/typescript/lib/tsserver*
node_modules/typescript/lib/typingsInstaller*
node_modules/typescript/lib/cancellationToken.js
node_modules/typescript/lib/watchGuard.js
node_modules/typescript/ThirdPartyNoticeText.txt
node_modules/typescript/LICENSE.txt
node_modules/typescript/README.md
node_modules/adm-zip/test/**
node_modules/adm-zip/*.md
node_modules/adm-zip/LICENSE
